*~
\#
bin/
obj/
*.mod
*.smod
*.so
*.txt
*.mod
*.out
*.o
*.e
*.pdf
*.aux
*.log
*.toc
*.gz
build/
doc/html
settings.json
.local-pre-commit-config.yaml
docs/html/
docs/_build/
docs/source/_static/ford/
docs/ford/output/
.local-pre-commit-config.yaml
.ipynb_checkpoints
